---
http_interactions:
- request:
    method: post
    uri: http://twlatestga.unitysandbox.com/unity/unityservice.svc/json/GetToken
    body:
      encoding: UTF-8
      string: '{"Username":"EkoDe-EkoDevices-test","Password":"%k!D%v#c%S3%3f6"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/octet-stream
    body:
      encoding: UTF-8
      string: EAB101DE-5862-4708-92EC-6C52584363E9
  recorded_at: Fri, 07 Aug 2015 17:12:05 GMT
- request:
    method: post
    uri: http://twlatestga.unitysandbox.com/unity/unityservice.svc/json/MagicJson
    body:
      encoding: UTF-8
      string: '{"Action":"GetChangedPatients","AppUserID":"jmedici","Appname":"EkoDevices.EkoDevicesAllscriptsAPI.TestApp","PatientID":"","Token":"EAB101DE-5862-4708-92EC-6C52584363E9","Parameter1":"01/01/1900","Parameter2":"","Parameter3":"","Parameter4":"","Parameter5":"","Parameter6":"","Data":""}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"getchangedpatientsinfo":[{"patientid":"10"},{"patientid":"12"},{"patientid":"19"},{"patientid":"32"},{"patientid":"33"},{"patientid":"34"},{"patientid":"35"},{"patientid":"36"},{"patientid":"37"},{"patientid":"38"},{"patientid":"39"},{"patientid":"40"},{"patientid":"41"},{"patientid":"42"},{"patientid":"44"},{"patientid":"45"},{"patientid":"46"},{"patientid":"47"},{"patientid":"48"},{"patientid":"49"},{"patientid":"50"},{"patientid":"51"},{"patientid":"52"},{"patientid":"53"},{"patientid":"54"},{"patientid":"55"},{"patientid":"56"},[...]
[...]
- request:
    method: post
    uri: http://twlatestga.unitysandbox.com/unity/unityservice.svc/json/MagicJson
    body:
      encoding: UTF-8
      string: '{"Action":"GetPatient","AppUserID":"jmedici","Appname":"EkoDevices.EkoDevicesAllscriptsAPI.TestApp","PatientID":"10","Token":"A792E34E-6414-4746-98BD-6D1418C689AE","Parameter1":"","Parameter2":"","Parameter3":"","Parameter4":"","Parameter5":"","Parameter6":"","Data":""}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"getpatientinfo":[{"genericattribute":"","Language":" ","IsInactiveFLAG":"N","PhysLastName":"","PhoneNumber":"(802)
        354-1237 (H)","age":"45y","middlename":"","mrn":"AAAA1","nextappointment":"No
        next appointment has been scheduled","CellPhone":"","Email":"","LastName":"Jacob","WorkPhone":"","gender":"Female","ID":"10","AgeDec":"45.051","Race":"
        ","ssn":"231AA2312  ","dateofbirth":"19-Jul-1970","AddressLine2":"APT 16","previousappointment":"Last
        Appointment: 06-Aug-2015 10:30 am with Bones, Jeff, Otitis","OnClinicalTrialFlag":"N","ZipCode":"05403     ","State":"Vermont","allmrn":"3|AAAA1^","othernumber2":"","PhysPhone":"","Firstname":"Susan","patientorg":"3","MaritalStatus":"
        ","Ethnicity":"","Addressline1":"1514 North Main Street, APT 16","PatientLocation":"","PhysFirstName":"","othernumber":"922761A","fmhpatient":"No","PrimaryInsurance":"No
        Primary Insurance","base64image":"","PatientXID":"","PhysUserName":"","City":"Burlington","HomePhone":"(802)
        354-1237 (H)"}]}]'
  recorded_at: Fri, 07 Aug 2015 17:12:06 GMT
[...]
