---
http_interactions:
- request:
    method: post
    uri: http://twlatestga.unitysandbox.com/unity/unityservice.svc/json/GetToken
    body:
      encoding: UTF-8
      string: '{"Username":"EkoDe-EkoDevices-test","Password":"%k!D%v#c%S3%3f6"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/octet-stream
    body:
      encoding: UTF-8
      string: C452F388-31F0-4C5E-AAD9-69849BC22408
  recorded_at: Fri, 07 Aug 2015 17:08:07 GMT
- request:
    method: post
    uri: http://twlatestga.unitysandbox.com/unity/unityservice.svc/json/MagicJson
    body:
      encoding: UTF-8
      string: '{"Action":"GetChangedPatients","AppUserID":"jmedici","Appname":"EkoDevices.EkoDevicesAllscriptsAPI.TestApp","PatientID":"","Token":"C452F388-31F0-4C5E-AAD9-69849BC22408","Parameter1":"2015-08-07","Parameter2":"","Parameter3":"","Parameter4":"","Parameter5":"","Parameter6":"","Data":""}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"getchangedpatientsinfo":[{"patientid":"33"},{"patientid":"39"},{"patientid":"41"},{"patientid":"164"},{"patientid":"170"},{"patientid":"324"},{"patientid":"375"},{"patientid":"549"},{"patientid":"557"},{"patientid":"652"}]}]'
  recorded_at: Fri, 07 Aug 2015 17:08:07 GMT
recorded_with: VCR 2.9.3
