---
http_interactions:
- request:
    method: post
    uri: http://twlatestga.unitysandbox.com/unity/unityservice.svc/json/GetToken
    body:
      encoding: UTF-8
      string: '{"Username":"EkoDe-EkoDevices-test","Password":"%k!D%v#c%S3%3f6"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/octet-stream
    body:
      encoding: UTF-8
      string: 1ACEBDD6-FBFB-4DA1-BFBE-763E77139DA9
  recorded_at: Fri, 07 Aug 2015 17:11:55 GMT
- request:
    method: post
    uri: http://twlatestga.unitysandbox.com/unity/unityservice.svc/json/MagicJson
    body:
      encoding: UTF-8
      string: '{"Action":"GetChangedPatients","AppUserID":"jmedici","Appname":"EkoDevices.EkoDevicesAllscriptsAPI.TestApp","PatientID":"","Token":"1ACEBDD6-FBFB-4DA1-BFBE-763E77139DA9","Parameter1":"2015-08-07","Parameter2":"","Parameter3":"","Parameter4":"","Parameter5":"","Parameter6":"","Data":""}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"getchangedpatientsinfo":[{"patientid":"33"},{"patientid":"39"},{"patientid":"41"},{"patientid":"164"},{"patientid":"170"},{"patientid":"324"},{"patientid":"375"},{"patientid":"549"},{"patientid":"557"},{"patientid":"652"}]}]'
  recorded_at: Fri, 07 Aug 2015 17:11:55 GMT
[...]
- request:
    method: post
    uri: http://twlatestga.unitysandbox.com/unity/unityservice.svc/json/MagicJson
    body:
      encoding: UTF-8
      string: '{"Action":"GetPatient","AppUserID":"jmedici","Appname":"EkoDevices.EkoDevicesAllscriptsAPI.TestApp","PatientID":"33","Token":"F79C611C-0313-4AEB-9E2E-C1655F76D7C7","Parameter1":"","Parameter2":"","Parameter3":"","Parameter4":"","Parameter5":"","Parameter6":"","Data":""}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"getpatientinfo":[{"genericattribute":"","Language":" ","IsInactiveFLAG":"N","PhysLastName":"Medici","PhoneNumber":"(802)
        985-0932 (H)","age":"45y","middlename":"","mrn":"031226095332733","nextappointment":"No
        next appointment has been scheduled","CellPhone":"","Email":"","LastName":"Test","WorkPhone":"","gender":"Male","ID":"33","AgeDec":"45.218","Race":"
        ","ssn":"347201241  ","dateofbirth":"19-May-1970","AddressLine2":"","previousappointment":"Last
        Appointment: 06-Aug-2015 11:15 am with Bones, Jeff, Vag Bleed","OnClinicalTrialFlag":"N","ZipCode":"05482     ","State":"VT","allmrn":"3|031226095332733^","othernumber2":"","PhysPhone":"","Firstname":"Cardiology","patientorg":"3","MaritalStatus":"Other","Ethnicity":"","Addressline1":"467
        Grouse Point","PatientLocation":"","PhysFirstName":"James","othernumber":"","fmhpatient":"No","PrimaryInsurance":"No
        Primary Insurance","base64image":"","PatientXID":"","PhysUserName":"jmedici","City":"Shelburne","HomePhone":"(802)
        985-0932 (H)"}]}]'
  recorded_at: Fri, 07 Aug 2015 17:11:56 GMT
[...]
