---
http_interactions:
- request:
    method: post
    uri: http://twlatestga.unitysandbox.com/unity/unityservice.svc/json/GetToken
    body:
      encoding: UTF-8
      string: '{"Username":"EkoDe-EkoDevices-test","Password":"%k!D%v#c%S3%3f6"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/octet-stream
    body:
      encoding: UTF-8
      string: 631E7530-6344-46BF-A5DE-B0C4450E2FFC
  recorded_at: Fri, 07 Aug 2015 17:11:59 GMT
- request:
    method: post
    uri: http://twlatestga.unitysandbox.com/unity/unityservice.svc/json/MagicJson
    body:
      encoding: UTF-8
      string: '{"Action":"GetSchedule","AppUserID":"jmedici","Appname":"EkoDevices.EkoDevicesAllscriptsAPI.TestApp","PatientID":"","Token":"631E7530-6344-46BF-A5DE-B0C4450E2FFC","Parameter1":"2015-08-07","Parameter2":"","Parameter3":"","Parameter4":"","Parameter5":"","Parameter6":"","Data":""}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"getscheduleinfo":[{"Status":"Arr","Location":"New World Health -
        Main Location","SchedComment":"","patientmiddlename":"","Patient":"Smith,
        Suzanne","Duration":"15","SchedText":"","organizationMRN":"040102151404060","ApptTime":"08/07/2015
        8:15:00 AM","type":"ACU       ","TimeIn":"08:15","base64image":"","TimeStart":"08:15","TimeOut":"08:30","Comment":"UTI","PatientLastName":"Smith","PatientFirstName":"Suzanne","Encounterid":"43271","patientID":"48"},{"Status":"Arr","Location":"New
        World Health - Main Location","SchedComment":"","patientmiddlename":"","Patient":"Peters,
        Gerald","Duration":"15","SchedText":"","organizationMRN":"040102153656090","ApptTime":"08/07/2015
        8:30:00 AM","type":"ACU       ","TimeIn":"08:30","base64image":"","TimeStart":"08:30","TimeOut":"08:45","Comment":"SOB","PatientLastName":"Peters","PatientFirstName":"Gerald","Encounterid":"43272","patientID":"49"},{"Status":"Arr","Location":"New
   [...]
[...]
- request:
    method: post
    uri: http://twlatestga.unitysandbox.com/unity/unityservice.svc/json/MagicJson
    body:
      encoding: UTF-8
      string: '{"Action":"GetPatient","AppUserID":"jmedici","Appname":"EkoDevices.EkoDevicesAllscriptsAPI.TestApp","PatientID":"48","Token":"BDE990E9-24EB-4429-9DE7-696438DBA715","Parameter1":"","Parameter2":"","Parameter3":"","Parameter4":"","Parameter5":"","Parameter6":"","Data":""}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"getpatientinfo":[{"genericattribute":"","Language":"ENGLISH","IsInactiveFLAG":"N","PhysLastName":"","PhoneNumber":"","age":"11y7m","middlename":"","mrn":"040102151404060","nextappointment":"No
        next appointment has been scheduled","CellPhone":"","Email":"","LastName":"Smith","WorkPhone":"","gender":"Female","ID":"48","AgeDec":"11.581","Race":"
        ","ssn":"           ","dateofbirth":"07-Jan-2004","AddressLine2":"","previousappointment":"Last
        Appointment: 07-Aug-2015 8:30 am with Bones, Jeff, SOB","OnClinicalTrialFlag":"N","ZipCode":"05402     ","State":"VT","allmrn":"3|040102151404060^","othernumber2":"","PhysPhone":"","Firstname":"Suzanne","patientorg":"3","MaritalStatus":"
        ","Ethnicity":"","Addressline1":"1122 Bondell Street","PatientLocation":"","PhysFirstName":"","othernumber":"","fmhpatient":"No","PrimaryInsurance":"Blue
        Cross One","base64image":"","PatientXID":"","PhysUserName":"","City":"Burlington","HomePhone":""}]}]'
  recorded_at: Fri, 07 Aug 2015 17:11:59 GMT
[...]
