---
http_interactions:
- request:
    method: post
    uri: http://pro141ga.unitysandbox.com/Unity/unityservice.svc/json/GetToken
    body:
      encoding: UTF-8
      string: '{"Username":"EkoDe-EkoDevices-test","Password":"%k!D%v#c%S3%3f6"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/octet-stream
    body:
      encoding: UTF-8
      string: CCD04C2C-9B3C-4129-B6BA-898438D23A18
  recorded_at: Fri, 07 Aug 2015 17:09:54 GMT
- request:
    method: post
    uri: http://pro141ga.unitysandbox.com/Unity/unityservice.svc/json/MagicJson
    body:
      encoding: UTF-8
      string: '{"Action":"GetSchedule","AppUserID":"terry","Appname":"EkoDevices.EkoDevicesAllscriptsAPI.TestApp","PatientID":"","Token":"CCD04C2C-9B3C-4129-B6BA-898438D23A18","Parameter1":"2015-08-07","Parameter2":"","Parameter3":"","Parameter4":"","Parameter5":"","Parameter6":"","Data":""}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"getscheduleinfo":[]}]'
  recorded_at: Fri, 07 Aug 2015 17:09:54 GMT
recorded_with: VCR 2.9.3
