---
http_interactions:
- request:
    method: post
    uri: http://pro141ga.unitysandbox.com/Unity/unityservice.svc/json/GetToken
    body:
      encoding: UTF-8
      string: '{"Username":"EkoDe-EkoDevices-test","Password":"%k!D%v#c%S3%3f6"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/octet-stream
    body:
      encoding: UTF-8
      string: 77D6937E-C303-4304-AEAA-2B68BD0C2453
  recorded_at: Fri, 07 Aug 2015 17:08:07 GMT
- request:
    method: post
    uri: http://pro141ga.unitysandbox.com/Unity/unityservice.svc/json/MagicJson
    body:
      encoding: UTF-8
      string: '{"Action":"GetPatient","AppUserID":"terry","Appname":"EkoDevices.EkoDevicesAllscriptsAPI.TestApp","PatientID":1,"Token":"77D6937E-C303-4304-AEAA-2B68BD0C2453","Parameter1":"","Parameter2":"","Parameter3":"","Parameter4":"","Parameter5":"","Parameter6":"","Data":""}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"getpatientinfo":[{"Language":"","HomeEmail":"","trainingPat":"N","activePat":"N","PhysLastName":"Manning","PhoneNumber":"9198736777","age":"56y","middlename":"","mrn":"007","Occupation":"","CellPhone":"","Email":"","LastName":"Bond","WorkPhone":"","gender":"M","ID":"1","WorkEmail":"","Race":"Undefined","ssn":"007-12-3456","dateofbirth":"24-Mar-1959","AddressLine2":"","ZipCode":"27609","Title":"","State":"NC   ","PhysPhone":"8888287788889","Firstname":"James","MaritalStatus":"Single","Ethnicity":"","Addressline1":"345
        Windsor Way ","PhysFirstName":"Terry","PrimaryInsurance":"No primary insurance","base64image":"","timeofbirth":"","PhysUserName":"TERRY","City":"Raleigh","Employer":"","HomePhone":"9198736777"}]}]'
  recorded_at: Fri, 07 Aug 2015 17:08:07 GMT
recorded_with: VCR 2.9.3
