---
http_interactions:
- request:
    method: post
    uri: http://pro141ga.unitysandbox.com/Unity/unityservice.svc/json/GetToken
    body:
      encoding: UTF-8
      string: '{"Username":"EkoDe-EkoDevices-test","Password":"%k!D%v#c%S3%3f6"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/octet-stream
    body:
      encoding: UTF-8
      string: 5947421B-8242-4D3E-B245-7C05939F9D29
  recorded_at: Fri, 07 Aug 2015 17:08:07 GMT
- request:
    method: post
    uri: http://pro141ga.unitysandbox.com/Unity/unityservice.svc/json/MagicJson
    body:
      encoding: UTF-8
      string: '{"Action":"GetChangedPatients","AppUserID":"terry","Appname":"EkoDevices.EkoDevicesAllscriptsAPI.TestApp","PatientID":"","Token":"5947421B-8242-4D3E-B245-7C05939F9D29","Parameter1":"01/01/2013","Parameter2":"","Parameter3":"","Parameter4":"","Parameter5":"","Parameter6":"","Data":""}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"getchangedpatientsinfo":[{"patientid":"2"},{"patientid":"3"},{"patientid":"4"},{"patientid":"5"},{"patientid":"6"},{"patientid":"7"},{"patientid":"8"},{"patientid":"9"},{"patientid":"10"},{"patientid":"11"},{"patientid":"15"},{"patientid":"16"},{"patientid":"17"},{"patientid":"18"},{"patientid":"19"},{"patientid":"20"},{"patientid":"21"},{"patientid":"22"},{"patientid":"33"},{"patientid":"51"},{"patientid":"163"},{"patientid":"309"},{"patientid":"682"},{"patientid":"764"},{"patientid":"1036"},{"patientid":"1418"},{"patientid":"1519"[...]
