---
http_interactions:
- request:
    method: post
    uri: http://pro141ga.unitysandbox.com/Unity/unityservice.svc/json/GetToken
    body:
      encoding: UTF-8
      string: '{"Username":"EkoDe-EkoDevices-test","Password":"%k!D%v#c%S3%3f6"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/octet-stream
    body:
      encoding: UTF-8
      string: C7CBCBCA-1169-4372-9CF4-29FCA4AC92FC
  recorded_at: Fri, 07 Aug 2015 17:08:08 GMT
- request:
    method: post
    uri: http://pro141ga.unitysandbox.com/Unity/unityservice.svc/json/MagicJson
    body:
      encoding: UTF-8
      string: '{"Action":"GetChangedPatients","AppUserID":"terry","Appname":"EkoDevices.EkoDevicesAllscriptsAPI.TestApp","PatientID":"","Token":"C7CBCBCA-1169-4372-9CF4-29FCA4AC92FC","Parameter1":"01/01/2013","Parameter2":"","Parameter3":"","Parameter4":"","Parameter5":"","Parameter6":"","Data":""}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"getchangedpatientsinfo":[{"patientid":"2"},{"patientid":"3"},{"patientid":"4"},{"patientid":"5"},{"patientid":"6"},{"patientid":"7"},{"patientid":"8"},{"patientid":"9"},{"patientid":"10"},{"patientid":"11"},{"patientid":"15"},{"patientid":"16"},{"patientid":"17"},{"patientid":"18"},{"patientid":"19"},{"patientid":"20"},{"patientid":"21"},{"patientid":"22"},{"patientid":"33"},{"patientid":"51"},{"patientid":"163"},{"patientid":"309"},{"patientid":"682"},{"patientid":"764"},{"patientid":"1036"},{"patientid":"1418"},{"patientid":"1519"[...]
[...]
- request:
    method: post
    uri: http://pro141ga.unitysandbox.com/Unity/unityservice.svc/json/MagicJson
    body:
      encoding: UTF-8
      string: '{"Action":"GetPatient","AppUserID":"terry","Appname":"EkoDevices.EkoDevicesAllscriptsAPI.TestApp","PatientID":"2","Token":"6D97F8B2-0E42-4B71-A102-FFE0B28AA6D9","Parameter1":"","Parameter2":"","Parameter3":"","Parameter4":"","Parameter5":"","Parameter6":"","Data":""}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"getpatientinfo":[{"Language":"English","HomeEmail":"ddriver@aol.com","trainingPat":"N","activePat":"Y","PhysLastName":"Manning","PhoneNumber":"9195551662","age":"2y7m","middlename":"","mrn":"10","Occupation":"","CellPhone":"","Email":"ddriver@aol.com","LastName":"Driver","WorkPhone":"","gender":"F","ID":"2","WorkEmail":"","Race":"Black
        or African American","ssn":"000-07-2611","dateofbirth":"19-Dec-2012","AddressLine2":"","ZipCode":"27609","Title":"","State":"NC   ","PhysPhone":"8888287788889","Firstname":"Denise","MaritalStatus":"Single","Ethnicity":"Not
        Hispanic or Latino","Addressline1":"7177 Barrett St ","PhysFirstName":"Terry","PrimaryInsurance":"BCBS
        America Plan","base64image":"","timeofbirth":"","PhysUserName":"TERRY","City":"Raleigh","Employer":"","HomePhone":"9195551662"}]}]'
  recorded_at: Fri, 07 Aug 2015 17:08:08 GMT
[...]
- request:
    method: post
    uri: http://pro141ga.unitysandbox.com/Unity/unityservice.svc/json/MagicJson
    body:
      encoding: UTF-8
      string: '{"Action":"GetPatient","AppUserID":"terry","Appname":"EkoDevices.EkoDevicesAllscriptsAPI.TestApp","PatientID":"66630","Token":"0E94DA7A-762F-4C00-BE86-9448EDF19626","Parameter1":"","Parameter2":"","Parameter3":"","Parameter4":"","Parameter5":"","Parameter6":"","Data":""}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"getpatientinfo":[{"Language":"","HomeEmail":"","trainingPat":"N","activePat":"Y","PhysLastName":"Manning","PhoneNumber":"","age":"35y","middlename":"","mrn":"qset6","Occupation":"","CellPhone":"","Email":"","LastName":"Sully","WorkPhone":"","gender":"M","ID":"66630","WorkEmail":"","Race":"Undefined","ssn":"No
        SSN","dateofbirth":"01-Jan-1980","AddressLine2":"","ZipCode":"NoZip","Title":"","State":"XX","PhysPhone":"8888287788889","Firstname":"Vigo","MaritalStatus":"","Ethnicity":"","Addressline1":"No
        Home Address","PhysFirstName":"Terry","PrimaryInsurance":"No primary insurance","base64image":"","timeofbirth":"","PhysUserName":"TERRY","City":"No
        City","Employer":"","HomePhone":""}]}]'
  recorded_at: Fri, 07 Aug 2015 17:09:53 GMT
recorded_with: VCR 2.9.3
