---
http_interactions:
- request:
    method: post
    uri: https://drchrono.com/o/token/
    body:
      encoding: UTF-8
      string: refresh_token=lHiwUEoO2JnCfiCFbhAiSiOVPmUCU2&grant_type=refresh_token&redirect_uri=http%3A%2F%2Fdashboard.ekodevices.com%2Fsync_chrono&client_id=ayIg8rp7JcN9MeD8X1TYvx5xMH50nL1NNHONhXiWm8eXW6ntIpp6WYdehVA5tBDF&client_secret=XW64OeenH5usIdDMt57vu09mPdtLdHRoJPxAWWjBd0HAikUJsMIFeqrDtPmPfhNq
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Content-Options:
      - nosniff
    body:
      encoding: UTF-8
      string: '{"access_token": "q7JU3WNa6rvo8A8PeBfUKm52tpUXd5", "token_type": "Bearer",
        "expires_in": 36000, "refresh_token": "JgWKU4WEmBOQnLUHfM7a3UG0jx0GZb", "scope":
        "patients labs calendar patients:summary user"}'
  recorded_at: Tue, 04 Aug 2015 17:55:26 GMT
recorded_with: VCR 2.9.3
