---
http_interactions:
- request:
    method: post
    uri: https://drchrono.com/o/token/
    body:
      encoding: UTF-8
      string: refresh_token=SeQa4XSk9VdxnsAZeSKe4MS3shlVsb&grant_type=refresh_token&redirect_uri=http%3A%2F%2Fdashboard.ekodevices.com%2Fsync_chrono&client_id=ayIg8rp7JcN9MeD8X1TYvx5xMH50nL1NNHONhXiWm8eXW6ntIpp6WYdehVA5tBDF&client_secret=XW64OeenH5usIdDMt57vu09mPdtLdHRoJPxAWWjBd0HAikUJsMIFeqrDtPmPfhNq
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Content-Options:
      - nosniff
    body:
      encoding: UTF-8
      string: '{"access_token": "vdOKHNfJIqxF5Zh2vuwWKA1vUBi4v5", "token_type": "Bearer",
        "expires_in": 36000, "refresh_token": "5qqGHJ25nnbfgAZIIEyU77gNp71g2V", "scope":
        "patients labs calendar patients:summary user"}'
  recorded_at: Mon, 03 Aug 2015 20:25:29 GMT
recorded_with: VCR 2.9.3
