---
http_interactions:
- request:
    method: get
    uri: https://drchrono.com/api/patients
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TxHwWh0aFgdVjspV2N0Mm8EknawPYz
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Content-Options:
      - nosniff
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":48,"next":null,"previous":null,"results":[{"id":3333917,"chart_id":"BEJA000001","first_name":"Jason","middle_name":"","last_name":"Bellet","date_of_birth":"1907-03-22","gender":"","social_security_number":"","race":"blank","ethnicity":"blank","preferred_language":"blank","home_phone":"2934983498","cell_phone":"239483939393","office_phone":"","email":"","address":"","city":"","state":"","zip_code":"","emergency_contact_name":"","emergency_contact_phone":"","emergency_contact_relation":"","employer":"","employer_address":"","employer_city":"","employer_state":"","employer_zip_code":"","disable_sms_messages":false,"doctor":"https://drchrono.com/api/doctors/53079","primary_care_physician":"","date_of_first_appointment":null,"date_of_last_appointment":null,"primary_insurance_company":"","primary_insurance_id_number":"","primary_insurance_group_number":"","primary_insurance_claim_office_number":"","primary_insurance_payer_id":"","primary_insurance_plan_name":"","primary_insurance_plan_type":"","copay":""},{"id":3847460,"chart_id":"WIMO000001","first_name":"Morgan","middle_name":"","last_name":"Wildermuth","date_of_birth":"1987-12-11","gender":"","social_security_number":"","race":"blank","ethnicity":"blank","preferred_language":"blank","home_phone":"","cell_phone":"","office_phone":"","email":"","address":"","city":"","state":"","zip_code":"","emergency_contact_name":"","emergency_contact_phone":"","emergency_contact_relation":"","employer":"","employer_address":"","employer_city":"","employe[...]
[...]
